### ztf_sim_introduction

This notebook illustrates basic use of the `ztf_sim` modules.

In [1]:
# hack to get the path right
import sys
sys.path.append('..')

In [2]:
import ztf_sim
from astropy.time import Time
import pandas as pd
import numpy as np
import astropy.units as u
import pylab as plt

/Users/ebellm/anaconda/lib/python2.7/site-packages/IPython/kernel/__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated. You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)

First we'll generate a test field grid.  You only need to do this the first time you run the simulator.

In [7]:
ztf_sim.fields.generate_test_field_grid()

Let's load the Fields object with the default field grid:

In [8]:
f = ztf_sim.fields.Fields()

The raw fieldid and coordinates are stored as a pandas Dataframe in the `.fields` attribute:

In [9]:
f.fields

                ra       dec  gridid
fieldid
1         24.71429 -85.93846       0
2         76.14286 -85.93846       0
3        127.57143 -85.93846       0
4        179.00000 -85.93846       0
5        230.42857 -85.93846       0
6        281.85714 -85.93846       0
7        333.28571 -85.93846       0
8         12.84615 -79.01538       0
9         40.53846 -79.01538       0
10        68.23077 -79.01538       0
11        95.92308 -79.01538       0
12       123.61538 -79.01538       0
13       151.30769 -79.01538       0
14       179.00000 -79.01538       0
15       206.69231 -79.01538       0
16       234.38462 -79.01538       0
17       262.07692 -79.01538       0
18       289.76923 -79.01538       0
19       317.46154 -79.01538       0
20       345.15385 -79.01538       0
21         8.47368 -72.09231       0
22        27.42105 -72.09231       0
23        46.36842 -72.09231       0
24        65.31579 -72.09231       0
25        84.26316 -72.09231       0
26       103.21053 -72.09231       0
27       122.15789 -72.09231       0
28       141.10526 -72.09231       0
29       160.05263 -72.09231       0
30       179.00000 -72.09231       0
...            ...       ...     ...
1877     182.14500  76.51731       1
1878     201.09237  76.51731       1
1879     220.03974  76.51731       1
1880     238.98711  76.51731       1
1881     257.93447  76.51731       1
1882     276.88184  76.51731       1
1883     295.82921  76.51731       1
1884     314.77658  76.51731       1
1885     333.72395  76.51731       1
1886     352.67132  76.51731       1
1887      15.99115  83.44038       1
1888      43.68346  83.44038       1
1889      71.37577  83.44038       1
1890      99.06808  83.44038       1
1891     126.76038  83.44038       1
1892     154.45269  83.44038       1
1893     182.14500  83.44038       1
1894     209.83731  83.44038       1
1895     237.52962  83.44038       1
1896     265.22192  83.44038       1
1897     292.91423  83.44038       1
1898     320.60654  83.44038       1
1899     348.29885  83.44038       1
1900      27.85929  90.00000       1
1901      79.28786  90.00000       1
1902     130.71643  90.00000       1
1903     182.14500  90.00000       1
1904     233.57357  90.00000       1
1905     285.00214  90.00000       1
1906     336.43071  90.00000       1

[1812 rows x 3 columns]

Now let's calculate their altitude and azimuth at a specific time using the astropy.time.Time object:

In [10]:
f.alt_az(Time.now())

WARNING: Tried to get polar motions for times after IERS data is valid. Defaulting to polar motion from the 50-yr mean for those.
If you need enough precision such that this matters (~<10 arcsec), you can
download the latest IERS predictions by running:

    >>> from astropy.utils.data import download_file
    >>> from astropy.utils import iers
    >>> iers.IERS.iers_table = iers.IERS_A.open(download_file(iers.IERS_A_URL, cache=True))

 [astropy.coordinates.builtin_frames.utils]
WARNING:astropy:Tried to get polar motions for times after IERS data is valid. Defaulting to polar motion from the 50-yr mean for those.
If you need enough precision such that this matters (~<10 arcsec), you can
download the latest IERS predictions by running:

    >>> from astropy.utils.data import download_file
    >>> from astropy.utils import iers
    >>> iers.IERS.iers_table = iers.IERS_A.open(download_file(iers.IERS_A_URL, cache=True))


WARNING: (some) times are outside of range covered by IERS table. Assuming UT1-UTC=0 for coordinate transformations.
If you need enough precision such that this matters (~<10 arcsec), you can
download the latest IERS predictions by running:

    >>> from astropy.utils.data import download_file
    >>> from astropy.utils import iers
    >>> iers.IERS.iers_table = iers.IERS_A.open(download_file(iers.IERS_A_URL, cache=True))

 [astropy.coordinates.builtin_frames.utils]
WARNING:astropy:(some) times are outside of range covered by IERS table. Assuming UT1-UTC=0 for coordinate transformations.
If you need enough precision such that this matters (~<10 arcsec), you can
download the latest IERS predictions by running:

    >>> from astropy.utils.data import download_file
    >>> from astropy.utils import iers
    >>> iers.IERS.iers_table = iers.IERS_A.open(download_file(iers.IERS_A_URL, cache=True))

               alt          az
fieldid
1       -32.010730  175.351458
2       -35.512555  175.804187
3       -37.343653  179.544015
4       -36.004918  183.606188
5       -32.600239  184.697566
6       -29.756256  182.268817
7       -29.501141  178.227523
8       -27.487707  169.105633
9       -32.352154  166.896886
10      -37.556749  167.489433
11      -41.896236  171.281466
12      -44.146077  177.738052
13      -43.558150  184.942918
14      -40.336883  190.481093
15      -35.495520  192.980998
16      -30.293716  192.370179
17      -25.856498  189.237510
18      -23.038267  184.400729
19      -22.356691  178.782883
20      -23.935644  173.363188
21      -22.383164  163.814336
22      -27.266007  160.359744
23      -32.847608  158.528391
24      -38.646751  158.751671
25      -44.071494  161.496910
26      -48.402145  167.085921
27      -50.864515  175.204292
28      -50.899231  184.405907
29      -48.497698  192.578359
30      -44.208181  198.244990
...            ...         ...
1877     24.155891  348.586266
1878     27.685731  345.667262
1879     31.838257  343.995366
1880     36.235789  343.876349
1881     40.427902  345.575490
1882     43.903723  349.214612
1883     46.146338  354.570745
1884     46.759271    0.894900
1885     45.623540    7.035642
1886     42.955720   11.923945
1887     35.951586    7.208841
1888     32.847641    7.727669
1889     29.893783    6.503267
1890     27.719594    3.928066
1891     26.761480    0.572550
1892     27.206386  357.091988
1893     28.967826  354.154528
1894     31.697066  352.371076
1895     34.827560  352.213946
1896     37.654249  353.890327
1897     39.469948  357.156564
1898     39.774452    1.205442
1899     38.479743    4.884029
1900     33.296711  359.916023
1901     33.296711  359.916023
1902     33.296711  359.916023
1903     33.296711  359.916023
1904     33.296711  359.916023
1905     33.296711  359.916023
1906     33.296711  359.916023

[1812 rows x 2 columns]

Demonstrate accessing fields by `fieldid`:

In [15]:
w = f.fields['dec'] > -30.
f.fields[w].loc[853]

ra        141.50000
dec        66.36923
gridid      0.00000
Name: 853, dtype: float64

Calculating the overhead time (max of ha, dec, dome slews and readout time):

In [16]:
f.overhead_time(853,Time.now())

         overhead_time
fieldid
1           133.923075
2           133.923075
3           133.923075
4           133.923075
5           133.923075
6           133.923075
7           133.923075
8           128.153842
9           128.153842
10          128.153842
11          128.153842
12          128.153842
13          128.153842
14          128.153842
15          128.153842
16          128.153842
17          128.153842
18          128.153842
19          128.153842
20          128.153842
21          122.384617
22          122.384617
23          122.384617
24          122.384617
25          122.384617
26          122.384617
27          122.384617
28          122.384617
29          122.384617
30          122.384617
...                ...
1877         31.329051
1878         43.171157
1879         55.013263
1880         66.855370
1881         78.697470
1882         90.539576
1883        102.381682
1884        114.223788
1885        110.785957
1886         98.943851
1887         84.368957
1888         67.061263
1889         49.753570
1890         32.445876
1891         21.225958
1892         21.225958
1893         31.329051
1894         48.636745
1895         65.944438
1896         83.252126
1897        100.559820
1898        117.867513
1899        101.676645
1900         76.951370
1901         44.808513
1902         26.692308
1903         31.329051
1904         63.471907
1905         95.614763
1906        109.094232

[1812 rows x 1 columns]

In [ ]:
f = ztf_sim.fields.Fields()
Exposure_time = 60*u.second
Night_length=9*u.h


time0 = Time('2015-09-10 20:00:00') + 7*u.h
time = time0
f.fields = f.fields.join(pd.DataFrame(np.zeros(len(f.fields)),columns=['observed']))
f.fields = f.fields.join(pd.DataFrame(np.zeros(len(f.fields)),columns=['possibleToObserve']))

def observe(f, nightStart):
    time=nightStart
    goodAltitude = f.alt_az(time)['alt'] > 20
    shouldObserve = f.fields['observed'] == 0
    good = goodAltitude & shouldObserve #& f.alt_az(time+1*u.h)['alt'] < 20 # start with a field which won't be observable later
    
    if np.all(good) is False:
        good = goodAltitude & shouldObserve
        
    fid = f.fields[good].iloc[0].name
    f.fields['observed'][fid]+=1
    f.fields['possibleToObserve'][goodAltitude] = 1
    time += Exposure_time

    while time < nightStart + Night_length:
        goodAltitude = f.alt_az(time)['alt'] > 20
        shouldObserve = f.fields['observed'] == 0
        good = goodAltitude & shouldObserve
        f.fields['possibleToObserve'][goodAltitude] = 1
        
        if not np.any(good):
            time += 60*u.s
            continue
            
        slewTime = f.overhead_time(fid,time)[good]
        fid = int(slewTime.idxmin())
        # print slewTime['overhead_time'][fid]
        time += Exposure_time + slewTime['overhead_time'][fid]*u.second
        f.fields['observed'][fid]+=1
        # print time-7*u.h
        

# First night
observe(f,time)
fieldsPossible = np.sum(f.fields['possibleToObserve'])
print fieldsPossible
fieldsObserved = np.sum(f.fields['observed'])
print fieldsObserved
meanTime = (Night_length.to(u.s)-fieldsObserved*Exposure_time)/(fieldsObserved-1)
print meanTime

# Second night
time=time0+24*u.h
observe(f,time)
fieldsPossible = np.sum(f.fields['possibleToObserve'])
print fieldsPossible
fieldsObserved = np.sum(f.fields['observed'])
print fieldsObserved
meanTime = (2*Night_length.to(u.s)-fieldsObserved*Exposure_time)/(fieldsObserved-1)
print meanTime

In [ ]:
for dec in np.append(np.linspace(-90,90,10),0):
    ra=np.linspace(0, 360,1000)
    x,y = raDec2xy(ra,dec)
    plt.plot(x,y,'k')
    
for ra in np.linspace(0,360,10):
    dec=np.linspace(-90, 90,1000)
    x,y = raDec2xy(ra,dec)
    plt.plot(x,y,'k')
    
x,y = raDec2xy(f.fields['ra'],f.fields['dec'])
plt.plot(x,y,'o',color=(.8,.8,.8))    
plt.show()

In [6]:
def raDec2xy(ra,dec):
    # Using Aitoff projections (from Wiki) returns x-y coordinates on a plane of RA and Dec
    theta = np.deg2rad(dec)
    phi = np.deg2rad(ra)-np.pi #the range is [-pi,pi]
    alpha=np.arccos(np.cos(theta)*np.cos(phi/2))
    x=2*np.cos(theta)*np.sin(phi/2)/np.sinc(alpha/np.pi) # The python's sinc is normalazid, hence the /pi
    y=np.sin(theta)/np.sinc(alpha/np.pi)
    return x,y